@charset "utf-8";

*{
	outline: none !important;
	text-decoration: none !important;
}
html{
	overflow: auto;
	height: auto;
	min-width: 320px;
	min-height: 500px;

}
body{
max-width: 1920px;
margin: 0 auto;
}
.address_wrap{
background-color: #333;
position: absolute;
top: 0;
left: 0;
width: 100%;
text-align: right;
}
.address_wrap address{
	margin:0;
	color: #ddd;
    font-size: 14px;
    padding-right: 15px;
}
.folder_tree{
	width: 20%;
	height: 100%;
	float: left;
	box-shadow: -1px 0px 5px #777;
	z-index: 11111;
	position: relative;
	background-color: #fff;
	border-right: 5px solid #333;
	position: fixed;
	max-width: 384px;
}
.content{
	float: left;
	width: 80%;
	padding: 15px;
	position: relative;
	margin-left: 20%;
}
.content_header{
	width: 100%;
	height: 110px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 15px;
}
.content_info{
	width: calc(40% - 3px);
	float: left;
	padding: 10px;
	border: 1px solid #ddd;
	height: calc(100% - 31px);
	margin-top: 31px;
	border-left: 5px solid #ddd;
	border-radius: 0px 2px 2px 0px;
}
.content_grid{
	float: left;
	border-radius: 0;
}
#contenttreeGrid{
	background-color: #f4f4f4 !important;
}
.folder_tree .jqx-grid-column-header >div > div > span > span{
float: right;
line-height: 36px;
background-color: #ddd;
width: 30px;
text-align: center;
border-radius: 4px 0px 0px 4px;
top: 0;
}
.folder_tree .jqx-grid-column-header >div > div{
margin: 0 !important;
line-height: 36px;
font-weight: 600;
font-size: 15px;
padding-left: 15px;
}
.jqx-button-light.jqx-fill-state-pressed  {
    color: #fff;
  	background:#0075FF;
    border-color: #0075FF;
}

.jqx-listitem-state-selected-light, .jqx-menu-item-selected-light, .jqx-tree-item-selected-light, .jqx-calendar-cell-selected-light, .jqx-grid-cell-selected-light,
.jqx-menu-vertical-light .jqx-menu-item-top-selected-light, .jqx-grid-selectionarea-light, .jqx-input-button-header-light, .jqx-input-button-innerHeader-light {
	  color: #ffffff !important;
    background-color: #0075FF;
    *background-color: #0075FF;
    background-repeat: repeat-x;
    border-color: #0075FF !important;
    background: #0075FF; /* Old browsers */
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.content .content_header h2{
	
	font-size: 19px;
	font-weight: 600;
	padding-top: 30px;
	padding-bottom: 15px;
	margin: 0;
	float: left;
}

.jqx-datetimeinput-light.jqx-fill-state-focus .jqx-action-button-light{
	border-color: #0075FF;
}
.jqx-fill-state-pressed-light{
	background-color: #0075FF;
}
.jqx-listitem-state-hover-light, .jqx-menu-item-hover-light, .jqx-tree-item-hover-light, .jqx-calendar-cell-hover-light, .jqx-grid-cell-hover-light,
.jqx-menu-vertical-light .jqx-menu-item-top-hover-light, .jqx-input-popup-light .jqx-fill-state-hover-light,
.jqx-input-popup-light .jqx-fill-state-pressed-light {
    color: #0075FF !important;
    border-color: #e1f5fe;
    background-color: #e1f5fe;
    background: #e1f5fe; /* Old browsers */
}
.jqx-combobox-content-focus-light, .jqx-combobox-state-focus-light, .jqx-fill-state-focus-light, .jqx-numberinput-focus-light{
	border-color: #0075FF;
}

.jqx-grid-pager-top-light .jqx-grid-pager-number-light.jqx-fill-state-pressed-light, .jqx-grid-pager-light .jqx-grid-pager-number-light.jqx-fill-state-pressed-light{
	color: #0075ff !important
}
.content_header .date > div{
float: left;
}
.content_header .date > span{
	float: left;
	width: 25px;
	text-align: center;
	line-height: 30px;
}
.content_header #range_drop {
	float: left;
	margin: 0;
}

.content_header #session_input{
float: left;
	margin-left: 25px;
}
.content_header > button{
    width: auto;
    padding: 2px 5px;
    margin-left: 10px;
    font-size: 13px;
	    margin-top: 27px;
}
.content_header .content_btn{
	clear: both;
}
.content_header .content_btn button{
	float: left;
	margin-left: 25px;
	width: 35px;
	height: 30px;
	padding: 0;
	background-color: #efefef;
}

.content_header button:hover{
	background-color: #ddd;
}
.content_header button:focus{
	background-color: #0075FF;
  color: #fff;
	border-color: #0075ff;
}
.content_grid .jqx-grid-cell:nth-child(1) .jqx-grid-cell-left-align{
text-align: center;
}
.content_grid .jqx-grid-cell:nth-child(2){
text-align: center;
}
.content_grid .jqx-grid-cell:nth-child(4) .jqx-grid-cell-left-align{
text-align: center;
}
.content_grid .jqx-grid-cell:nth-child(5) .jqx-grid-cell-left-align{
text-align: center;
}
.content_grid .jqx-grid-cell:nth-child(6) .jqx-grid-cell-left-align{
text-align: center;
    margin-top: 22px !important;
}
.content_grid .jqx-grid-cell:nth-child(6) .jqx-grid-cell-left-align *{
	color: #555;
}
.content_grid .jqx-grid-column-header > div > div{
	text-align: center !important;
}
.refresh_btn{
padding: 1px 3px;
font-size: 12px;
}
.refresh_btn span{
float: left;
padding-right: 2px;
padding-top: 2px;
}
.refresh_btn p{
float: left;
margin: 0;
}
.content_bottom{
}
.content_info h3{
margin: 0;
font-size: 17px;
margin-bottom: 8px;
border-bottom: 1px solid #ddd;
font-weight: bold;
color: #444;
padding-bottom: 5px;
}
.content_info .img_con img{
width: 100%;
height: 250px;
}
.content_info .info_form{
margin-top: 10px;
background-color: #F2F2F2;
padding: 15px;
border-radius: 4px;
height: calc(100% - 295px);
position: relative;
}
.content_info .info_form .btn_group{
text-align: right;
border-top: 1px solid #ccc;
padding-top: 10px;
background-color: #F2F2F2;
margin-bottom: 0;
}

.content_info .info_form label{
font-weight: 400;
float: left;
margin-right: 10px;
padding-right: 10px;
margin-bottom: 0;
color: #666;
}
.content_info .info_form table tbody td:first-child{
border-right: 1px solid #ddd;	

width: 120px;
}
.content_info .info_form table tbody tr:last-child td{
	border-bottom: 1px solid #ddd;
}

.content_info .info_form table tbody tr td{
	vertical-align: middle;
}
.content_info .table_wrap{

	max-height: calc(100% - 38px);
	overflow-y: auto;
}
.content_info table{
	margin-bottom: 10px;
}
.tree_header{
margin: 0 !important;
line-height: 36px;
font-weight: 600;
font-size: 15px;
padding-left: 15px;
background-color: #ddd;
}

.tree_header button{
float: right;
line-height: 36px;
background-color: #333 !important;
width: 30px;
text-align: center;
border-radius: 4px 0px 0px 4px;
top: 0;
color: #fff;
border: none;
padding: 0;
cursor: default;

}
.tree_header button:hover, .tree_header button:focus{
background-color: #333;
color: #fff;
}


.content_header label{
	float: left;
	margin-left: 25px;
	margin-bottom: 0;
	line-height: 30px;
	margin-right: 5px;
}

.content_info iframe{
width: 100%;
height: 250px;
}
.content_info img{
width: 100%;
height: 250px;
}
.content_info table button {
height: 23px;
padding: 0 8px;
color: #555;
float: right;
}

/* 업로드 */
#upload_modal .modal-body{
padding:0;
}
#upload_modal #drop{
background-color: unset;
box-shadow: none;
margin: 0;
height: 548px;
}
.content_header button{
	margin-left:  5px;
}
.content_header button:nth-child(2){
	margin-left:10px;
}
#upload_modal #fileNavigator{
width: 100%;
text-align: left;
margin-bottom: 10px;
}
#upload_modal .modal-header .close{
	margin-top: 2px;
}
#upload_modal .share_btn{
margin-bottom: 10px;
padding-bottom: 10px;
border-bottom: 1px solid #eee;
}
#upload_modal .share_btn button{
	margin: 0;
}
#upload_modal #thumbnails{
	height: 280px;
}
.grid_wrap{
width: 60%;
height: calc(100vh - 155px);
float: left;
}

.info_btn{
display: none;
}
.search_btn{
	display: none;
	position: fixed;
top: 35px;
right: 65px;
z-index: 1111;
background-color: #ddd;	
}
.content_info .close{
display: none;
}
#upload_modal.modal{
z-index: 11111;
}

@media(max-width:1514px){
	.grid_wrap{
		height: calc(100vh - 208px);
	}
	.content_header{
		margin-bottom: 5px;
	}
	.content .content_header h2{
		float: none;
		padding-bottom: 10px;
	}
	.content_header button{
		margin-left: 0;
		margin-top: 5px;
	}
	.content_header button:nth-child(2){
		margin-left: 0;
	}
	.content_header .content_btn{
		padding-top: 5px;
		border-top: 1px solid #eee;
		margin-top: 5px;
		height: 72px;
	}
	.content_header{
		height: auto;
		padding-bottom: 5px;
	}
	.content_header label{
		display: none;
	}
	.content_header #range_drop{
		clear: both;
		margin-top: 5px;
	}
	.content_header #session_input{
		margin-top: 5px;
		margin-left: 5px;
	}
	.content_header .content_btn button{
		margin-top: 5px;
		margin-left: 5px;
	}
	.content_header .date > span{
		display: none;
	}
	#datetime_end{
		margin-left: 5px;
	}
	.folder_tree{
		width: 300px;
	}
	.content{
		width: calc(100% - 300px);
		margin-left: 300px;
	}
	.content_info .info_form label{
		margin-right: 0;
		padding-right: 0;
	}
	.content_info .info_form table tbody td:first-child{
		width: 80px;
	}	
}
@media(max-width:1200px){
	.tree_header button{
		cursor: pointer;
	}
	.folder_tree{
		position: fixed;
		left: -265px;
	}
	.content{
		margin-left: 30px;
    	width: calc(100% - 30px);
	}
.folder_tree.tree_show{
	left: 0;
}
.folder_tree.tree_hide{
	left: -265px;
}
}
@media(max-width:1000px){
	.content_info{
	height: 100%;
	position: fixed;
	top: 0;
	margin: 0;
	right: 0;
	z-index: 11111;
	background-color: #fff;
	display: none;
	min-width: 370px;
	}
	.address_wrap address{
		padding-left: 15px;
		float: left;
	}
	.grid_wrap{
	width: 100%;
	}
	.info_btn{
		display: block;
		position: fixed;
		top: 35px;
		right: 15px;
		z-index: 1111;
		background-color: #ddd;
	}
	.content_info .close{
		display: block;
	}

}
@media(max-width: 605px){
.content_header .date > div{
	float: none;
	margin-left: 0;
}
#datetime_end{
	margin-left: 0;
	margin-top: 5px;
}
.content_header #range_drop{
	float: none;
	margin-left: 0;
}
.content_header #session_input{
	float: none;
	margin-left: 0;
}
.content_header .content_btn button{
	float: none;
	margin-left: 0;
	display: block;
	width: 250px;
}
.content_header .content_btn{
	height: auto;
}

.content_header .content_btn{
width: 270px;
position: fixed;
z-index: 1111;
background-color: #fff;
border: 1px solid #ccc;
padding: 10px;
border-radius: 4px;
box-shadow: 0px 0px 5px 0px #ccc;
right: 13px;
top: 70px;	
display: none;
}
.search_btn{
display: block;
}
}
@media(max-width: 397px){
	.content_header button{
		display: block;
		margin-top: 5px;
		width: 125px;
	}
	.content_info{
		min-width: 320px;
	}	
}
@media(max-width: 320px){
	.content_info{
		border: none;
		padding-left: 0;
		padding-right: 0;
	}
	.content_info .info_form{
		margin: 0;
	}
	.content_info .close{
		margin-right: 10px;
	}
	.content_info h3{
		padding-left: 10px;
	}
	
}

@media(max-height: 500px){
	.content_info{
		width: 100%;
	}
	.content_info iframe{
		width: calc(50% - 5px);
		float: left;
		margin-right: 5px;
	}
	.content_info img{
		width: calc(50% - 5px);
		float: left;
		margin-right: 5px;
	}
	.content_info .info_form{
		width: calc(50% - 5px);
		float: left;
		height: calc(100% - 30px);
		margin-left: 5px;
		margin-top: 0;
	}
}

/* 실시간 방송 예약 모달 */
#broadcas_schedul{
	z-index: 11111;
}
#broadcas_schedul .modal-footer{
	text-align: center;
}
#broadcas_schedul .modal-footer .btn-primary{
background-color: #0075ff;
border-color: #0075ff;
}
#broadcas_schedul .modal-footer .btn-primary:hover, #broadcas_schedul .modal-footer .btn-primary:focus{
background-color: #0b66d0;
border-color: #0b66d0;
}

#lecture_schedul{
	z-index: 11111;
}
#lecture_schedul .modal-footer{
	text-align: center;
}
#lecture_schedul .modal-footer .btn-primary{
background-color: #0075ff;
border-color: #0075ff;
}
#lecture_schedul .modal-footer .btn-primary:hover, #broadcas_schedul .modal-footer .btn-primary:focus{
background-color: #0b66d0;
border-color: #0b66d0;
}


.form-horizontal{
text-align: center;
}
.hr-line-dashed {
    border-top: 1px dashed #e7eaec;
    color: #ffffff;
    background-color: #ffffff;
    height: 1px;
    margin: 15px 0;
}
h6{
	font-size: 16px;
font-weight: bold;
margin: 0 auto;
	display: inline-block;
	border-bottom: 3px solid #0075ff;
	padding-bottom: 5px;
	min-width: 60px;
	text-align: center;
	margin: 0 auto;
}
.dropdown{
	display: inline-block;
}
input[type="radio"] {
    display: inline-block;
}

.panopto_session .dropdown{
	display: block;
}
.panopto_session #pold{
	width: 100%;
margin: 0;
text-align: left;

background: none;

height: 34px;

font-size: 12px;

border-radius: 3px;

font-weight: normal;

color: inherit;

padding: 3px 20px;
border-color: #e5e6e7;
border-radius: 0;
}


.panopto_session #pold span{
	position: absolute;

top: 16px;

right: 2%;
}
.panopto_session .dropdown-menu{
	width: 100%;
}
.panopto_session .share p{
line-height: 30px;
	color: #777;
margin: 0;
}
.panopto_session .share label.radio-inline{
	padding-top: 0;
}
.panopto_session .share .use_yes{
	float: left;

margin-right: 2%;
}
.form-horizontal .form-group{
	margin: 0;
width: 100%;

}
.panopto_source .input-group{
	width: 100%;
}
.panopto_source .input-group select{
	width: 100%;
}
.panopto_source .help_record p{
margin-bottom: 0;
margin-top: 5px;
color: #888;
text-align: left;
}
/* 예약 */

.panopto_reserve >div:first-child #datepicker{
	width: 100%;
}
.panopto_reserve >div:nth-child(2) span{
	float: left;
line-height: 34px;
}
.panopto_reserve >div:nth-child(2) a{
	margin: 0;
line-height: 34px;
	clear: both;
}
.panopto_reserve label{
display: block;
	padding-left: 0 !important;
	margin-left: 0 !important;
}
input[type="checkbox"] {
    display: inline-block;
}
.panopto_reserve .form-group:nth-child(2) select{
	width: calc(50% - 15px);
	float: left;
}
.panopto_reserve .form-group:nth-child(2) span{
	width: 30px;
	text-align: center;
}


/* 반복 레코딩 */
.panopto_reserve >div:nth-child(3) .col-sm-5{
	text-align: center;
}
.panopto_reserve >div:nth-child(3) .repeat_end p{
text-align: center;
margin: 0;
line-height: 34px;
margin-top: 10px;
}
.panopto_reserve >div:nth-child(3) #data_5 {
display: inline-block;
margin: 0;
width: 100%;
}
.panopto_reserve >div:nth-child(3) #data_5 #datepicker{
	width: 
100%; 
}
.text-center {

    text-align: center;

}
.col-sm-5 .radio-inline{
margin: 0;
}
/* 품질 설정 */
#carousel-example-generic, #carousel-example-generic2{

height: 34px;

padding: 0;
width: 100%;
margin-bottom: 30px;
}

.carousel-inner{
	text-align: center;
}
.carousel-inner .item p{
color: #555
margin: 0;
line-height: 34px;
border: 1px solid #eee;
height: 34px;
}
.carousel-inner .item span{
color: #888;
}
.carousel-inner .item span br{
	display: none;
}
.left.carousel-control{
	margin-left: 15px;
}
.right.carousel-control{
	margin-right: 15px;
}
.carousel-control{
	background: none !important;
}
.carousel-control span{
	color: #777;
    text-shadow: none;
    font-size: 17px !important;
    line-height: 30px;
}
.form-horizontal .control-label{
	clear: both;
	float: none;
width: 100%;
text-align: center;
	margin-top: 8px;
}
.form-horizontal .panopto_source select{
	text-align: center;
}
.qualit_optimal{
	clear: both;
	margin-top: 50px;
}
.qualit_optimal label{
padding-top: 0px !important;
}
#dropDownButtonPopupdropDownButton{
z-index: 11111 !important;
}
#dropDownButtonPopupdropDownButton2{
	z-index: 11111 !important;
}
#paneljqxTreeverticalScrollBar{
	right: 4px !important;

left: auto !important;
}
#paneljqxTree{
	width: 100% !important;
}
#jqxTree{
	width: 100% !important;
	color: #666;
}
.jqx-tree-dropdown-root{
	width: 100% !important;
}
@media (max-width: 767px){
	.carousel-control span{
	transform: translateY(-50%);
}
}
@media (max-width: 426px){
	.carousel-inner .item span br{
    display: block;
	}
	#carousel-example-generic, #carousel-example-generic2{
    margin-bottom: 55px;
	}
	.qualit_optimal{
    margin-top: 65px;
	}
	#broadcas_schedul .modal-title small{
    display: block;
		margin-top: 5px;
	}
}
